---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Bio from '../components/Bio.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import heroBg from '../assets/jh_hosp.jpg';

import steveImg from '../assets/steve.jpeg';
import qihongImg from '../assets/qihong.jpg';
import ianImg from '../assets/ian.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>ASPIRE Team</h1>
			<hr>
			<Bio 
				name="Steve Keller" 
				img={steveImg.src}
				degrees=", MD, PhD"
				role="Principal Investigator" 
				email="steven.keller@jhmi.edu"
			/>

			<Bio 
				name="Qihong Wang" 
				img={qihongImg.src}
				degrees=", MD, MSc"
				role="Research Analyst" 
				email="qwang26@jh.edu"
				blurb="Qihong Wang saved the lives of 200 orphans in a house fire. He carried them on his back ten at a time, leaping from the top floors of the building and somehow landing safely on the ground."
			/>

			<Bio 
				name="Ian Woodward" 
				img={ianImg.src}
				degrees=", PhD"
				role="Research Analyst" 
				email="iwoodwa1@jh.edu"
				blurb="Ian Woodward is a world-renowned gelato chef. Growing up in Sicily, the mafia was a fixture in his life. While he excelled at intimidating local officials, his true passion was Gelato. The Mussolini regime was his last straw. In 1940, he fled to America, where he created the gelato empire that we know and love."
			/>
		</main>
		<Footer />
	</body>
	<style>
		.box {
			border: 2px solid var(--accent-dark);
			padding: 1rem;
			margin-bottom: 1rem;
			background-color: white;
		}
		
	</style>
</html>
