---
import { footerMenu, legalMenu } from '@data/menu';
import Logo from '@components/Logo.astro';
import Button from '@components/ui/Button.astro';
import { siteConfig } from '@data/config';
import { Mail, Phone, MapPin } from 'lucide-astro';

interface ButtonProps {
  text: string;
  link: string;
  target?: string;
}

interface Props {
  footerCta?: {
    title: string;
    description: string;
    hideCta: boolean;
    button: ButtonProps;
  };
}

const { footerCta } = Astro.props;

const defaultCta = {
  title: "Ready to get started?",
  description: "Join us today and transform your digital presence with our innovative solutions.",
  hideCta: false,
  button: {
    text: "Contact Us",
    link: "/contact",
    target: "_self"
  }
};

const cta = footerCta || defaultCta;
const currentYear = new Date().getFullYear();
---

<footer class={`bg-black text-white pb-small pt-10`}>
  <div class="site-container mx-auto px-4">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 pb-8 border-b border-background-light">
      <div class="col-span-1">
        <Logo variant="footer" />
        <p class="mt-4 text-white">
          Advancing healthcare through novel physiology research and engineering.
        </p>
      </div>
      
      <div class="col-span-1">
        <div class:list={["flex flex-col gap-2 mb-4 text-white"]}>
            <div class:list={["flex items-center gap-2"]}><Mail aria-hidden="true" /> <a href={`mailto:${siteConfig.Socials.Email}`}>{siteConfig.Socials.Email}</a></div>
            <div class:list={["flex items-center gap-2"]}><Phone aria-hidden="true" /> <a href={`tel:${siteConfig.Socials.Phone}`}>{siteConfig.Socials.Phone}</a></div>
            <div class:list={["flex items-center gap-2"]}><MapPin aria-hidden="true" /> <a href={`https://maps.google.com/?q=${siteConfig.Socials.Location}`}>{siteConfig.Socials.Location}</a></div>
        </div>
      </div>

      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
        <nav>
          <ul class="space-y-2">
            {footerMenu.map(item => (
              <li><a href={item.link} class="text-body-dark hover:text-white transition-colors">{item.name}</a></li>
            ))}
          </ul>
        </nav>
      </div>
    </div>

    <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
      <div class="text-body-dark text-sm">
        © {currentYear} {siteConfig.companyName}. All rights reserved.
      </div>
      
      <nav class="mt-4 md:mt-0">
        <ul class="flex flex-wrap gap-6">
          {legalMenu.map(item => (
            <li>
              <a 
                href={item.link} 
                class="text-sm text-body-dark hover:text-white transition-colors"
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>
</footer>